{#{% extends 'base.html' %}#}
<!-- form.html start -->
{% load crispy_forms_tags %}


{#{% block body %}#}

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>{{ title }}</h1>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}

                    <input class="btn btn-primary" type="submit" value="{{ title }}">
                </form>
            </div>
        </div>
    </div>
    <!-- form.html end -->
{#{% endblock %}#}

{#{% load static %}#}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#    <head>#}
{#        <meta charset="utf-8" />#}
{#        <title>Auth Pages | Create Account | Sign In | Minton - Admin & Dashboard Template</title>#}
{#        <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />#}
{#        <meta content="Coderthemes" name="author" />#}
{#        <meta http-equiv="X-UA-Compatible" content="IE=edge" />#}
{#        <!-- App favicon -->#}
{#        <link rel="shortcut icon" href="{% static 'assets/images/favicon.icon'%}">#}
{##}
{#		<!-- App css -->#}
{##}
{##}
{##}
{##}
{#         <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">#}
{#<link href="{% static 'assets/css/material/bootstrap.min.css' %}" rel="stylesheet" type="text/css" id="bs-default-stylesheet" />#}
{#		<link href="{% static 'assets/css/material/app.min.css' %}" rel="stylesheet" type="text/css" id="app-default-stylesheet" />#}
{##}
{#		<link href="{% static 'assets/css/material/bootstrap-dark.min.css' %}" rel="stylesheet" type="text/css" id="bs-dark-stylesheet" />#}
{#		<link href="{% static 'assets/css/material/app-dark.min.css' %}" rel="stylesheet" type="text/css" id="app-dark-stylesheet" />#}
{##}
{#		<!-- icons -->#}
{#		<link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />#}
{##}
{##}
{##}
{#    </head>#}
{##}
{#    <body class="loading">#}
{##}
{#        <div class="account-pages mt-5 mb-5">#}
{#            <div class="container">#}
{#                <div class="row justify-content-center">#}
{#                    <div class="col-xl-9">#}
{#                        <div class="card">#}
{##}
{#                            <div class="card-body p-4">#}
{##}
{#                                <div class="text-center mb-4">#}
{#                                    <div class="auth-logo">#}
{#                                        <a href="{% url 'post:index' %}" class="logo logo-dark text-center">#}
{#                                            <span class="logo-lg">#}
{#                                                <img src="{% static 'assets/images/logo-dark.png' %}" alt="" height="22">#}
{#                                            </span>#}
{#                                        </a>#}
{##}
{#                                        <a href="{% url 'post:index' %}" class="logo logo-light text-center">#}
{#                                            <span class="logo-lg">#}
{#                                                <img src="{% static 'assets/images/logo-light.png' %}" alt="" height="22">#}
{#                                            </span>#}
{#                                        </a>#}
{#                                    </div>#}
{#                                </div>#}
{##}
{#                                <div class="row">#}
{#                                    <div class="col-lg-6">#}
{#                                        <div class="p-sm-3">#}
{#                                            <!-- title-->#}
{#                                            <h4 class="mt-0">Sign In</h4>#}
{#                                            <p class="text-muted mb-4">Enter your email address and password to access account.</p>#}
{#                                            <form action="#">#}
{#                                                <div class="mb-3">#}
{#                                                    <label for="emailaddress" class="form-label">Email address</label>#}
{#                                                    <input class="form-control" type="email" id="emailaddress" required="" placeholder="Enter your email">#}
{#                                                  {% csrf_token %}#}
{#                                                  {{ form }}#}
{#                                                     <input class="btn btn-primary" type="submit" value="{{ title }}">#}
{#                                                </div>#}
{##}
{#                                                <div class="mb-3">#}
{#                                                    <a href="auth-recoverpw.html" class="text-muted font-13 float-end">Forgot your password?</a>#}
{#                                                    <label for="password" class="form-label">Password</label>#}
{#                                                    <input class="form-control" type="password" required="" id="password" placeholder="Enter your password">#}
{#                                                </div>#}
{##}
{#                                                <div class="mb-3">#}
{#                                                    <button class="btn btn-primary float-sm-end" type="submit"> Log In </button>#}
{#                                                    <div class="form-check">#}
{#                                                        <input class="form-check-input" type="checkbox" id="checkbox-signin" checked>#}
{#                                                        <label class="form-check-label" for="checkbox-signin">#}
{#                                                            Remember me#}
{#                                                        </label>#}
{#                                                    </div>#}
{##}
{#                                                </div>#}
{##}
{#                                            </form>#}
{#                                        </div>#}
{#                                    </div> <!-- end col -->#}
{##}
{#                                    <div class="col-lg-6">#}
{#                                        <div class="p-sm-3">#}
{#                                            <h4 class="mt-3 mt-lg-0">Free Sign Up</h4>#}
{#                                            <p class="text-muted mb-4">Don't have an account? Create your account, it takes less than a minute</p>#}
{##}
{#                                            <form action="#">#}
{#                                                <div class="mb-3">#}
{#                                                    <label for="fullname" class="form-label">Full Name</label>#}
{#                                                    <input class="form-control" type="text" id="fullname" placeholder="Enter your name" required>#}
{#                                                </div>#}
{#                                                <div class="mb-3">#}
{#                                                    <label for="emailaddress2" class="form-label">Email address</label>#}
{#                                                    <input class="form-control" type="email" id="emailaddress2" required placeholder="Enter your email">#}
{#                                                </div>#}
{#                                                <div class="mb-3">#}
{#                                                    <label for="password2" class="form-label">Password</label>#}
{#                                                    <input class="form-control" type="password" required id="password2" placeholder="Enter your password">#}
{#                                                </div>#}
{#                                                <div>#}
{#                                                    <button class="btn btn-success float-sm-end" type="submit"> Sign Up </button>#}
{#                                                    <div class="form-check pt-1 overflow-hidden">#}
{#                                                        <input class="form-check-input" type="checkbox" id="checkbox-signup">#}
{#                                                        <label class="form-check-label" for="checkbox-signup">#}
{#                                                            I accept <a href="javascript: void(0);" class="text-dark">Terms and Conditions</a>#}
{#                                                        </label>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </form>#}
{#                                        </div>#}
{##}
{#                                    </div> <!-- end col -->#}
{#                                </div>#}
{#                                <!-- end row-->#}
{##}
{##}
{#                            </div> <!-- end card-body -->#}
{#                        </div>#}
{#                        <!-- end card -->#}
{##}
{#                    </div> <!-- end col -->#}
{#                </div>#}
{#                <!-- end row -->#}
{#            </div>#}
{#            <!-- end container -->#}
{#        </div>#}
{#        <!-- end page -->#}
{##}
{#        <footer class="footer footer-alt">#}
{#            <script>document.write(new Date().getFullYear())</script> &copy; Minton theme by <a href="" class="text-dark">Coderthemes</a>#}
{##}
{##}
{#<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"#}
{#></script>#}
{#<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"#}
{#></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>#}
{#<script src="{% static 'js/scripts.js' %}"></script>#}
{#        <!-- Vendor js -->#}
{#      <script src="{% static 'assets/js/app.min.js' %}"></script>#}
{#<script src="{% static 'assets/js/vendor.min.js' %}../"></script>#}
{#      </footer>#}
{#    </body>#}
{#</html>#}