{% load static %}
<!-- base.html start -->
<!doctype html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Django Dersleri{% endblock %}</title>
    <!-- CSS -->
{#    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">#}

    <link rel="stylesheet" href={% static 'css/style.css' %}>
 <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">
<link href="{% static 'assets/css/material/bootstrap.min.css' %}" rel="stylesheet" type="text/css" id="bs-default-stylesheet" />
		<link href="{% static 'assets/css/material/app.min.css' %}" rel="stylesheet" type="text/css" id="app-default-stylesheet" />

		<link href="{% static 'assets/css/material/bootstrap-dark.min.css' %}" rel="stylesheet" type="text/css" id="bs-dark-stylesheet" />
		<link href="{% static 'assets/css/material/app-dark.min.css' %}" rel="stylesheet" type="text/css" id="app-dark-stylesheet" />

		<!-- icons -->
		<link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />





</head>


 <body class="loading" data-layout='{"mode": "light", "width": "fluid", "menuPosition": "fixed", "sidebar": { "color": "light", "size": "default", "showuser": false}, "topbar": {"color": "dark"}, "showRightSidebarOnPageLoad": true}'>


{% include "navbar.html" %}
{% include "sidebar.html" %}
{% include 'messages.html' %}

{% block body %}






{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{#<script src="{% static 'js/scripts.js' %}"></script>#}
<
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"></script>#}
 <script src="{% static 'assets/js/app.min.js' %}"></script>
<script src="{% static 'assets/js/vendor.min.js' %}../"></script>

<!-- base.html end -->
</body>
</html>


